- hosts: rke2
  name: install rke2
  gather_facts: true
  become: true

  tasks:
    - name: Ensure the /etc/rancher/rke2 directory exists
      ansible.builtin.file:
        path: "/etc/rancher/rke2"
        state: directory
        owner: root
        group: root
        mode: '0755'
    - name: Create config file with token 'test' only on the first server
      ansible.builtin.copy:
        dest: "/etc/rancher/rke2/config.yaml"
        content: |
          token: test
        owner: root
        group: root
        mode: '0600'
      when: inventory_hostname == groups['rke2'][0]
    - name: Download RKE2 binary on nodes
      ansible.builtin.shell:
          cmd:  curl -sfL https://get.rke2.io | sh 
          creates: /usr/local/bin/rke2
    - name: Start RKE2 server on first node
      ansible.builtin.service:
          name: rke2-server
          state: started
      when: inventory_hostname == groups['rke2'][0]
    - name: Create config file on secondary nodes
      ansible.builtin.copy:
        dest: "/etc/rancher/rke2/config.yaml"
        content: |
          token: test
          server: https://{{ hostvars[groups['rke2'][0]]['ansible_default_ipv4']['address'] }}:9345
        owner: root
        group: root
        mode: '0600'
      when: inventory_hostname != groups['rke2'][0]
    - name: Start RKE2 server service on secondary nodes
      ansible.builtin.service:
          name: rke2-server
          state: started
      when: inventory_hostname != groups['rke2'][0]
    - name:  Add the Jetstack Helm repository
      ansible.builtin.shell:
        cmd: helm repo add jetstack https://charts.jetstack.io
      environment:
        KUBECONFIG: "/etc/rancher/rke2/rke2.yaml"
        PATH: "/var/lib/rancher/rke2/bin:{{ ansible_env.PATH }}"
      when: inventory_hostname == groups['rke2'][0]
    - name: Create cattle-system namespace
      ansible.builtin.shell:
        cmd: /var/lib/rancher/rke2/bin/kubectl create namespace cattle-system --dry-run=client -o yaml | /var/lib/rancher/rke2/bin/kubectl  apply -f -
      environment:
        KUBECONFIG: "/etc/rancher/rke2/rke2.yaml"
        PATH: "/var/lib/rancher/rke2/bin:{{ ansible_env.PATH }}"
      when: inventory_hostname == groups['rke2'][0]
    - name: Create cert-manager namespace
      ansible.builtin.shell:
        cmd: /var/lib/rancher/rke2/bin/kubectl create namespace cert-manager --dry-run=client -o yaml | /var/lib/rancher/rke2/bin/kubectl  apply -f -
      environment:
        KUBECONFIG: "/etc/rancher/rke2/rke2.yaml"
        PATH: "/var/lib/rancher/rke2/bin:{{ ansible_env.PATH }}"
      when: inventory_hostname == groups['rke2'][0]
    - name: Create cert manager CRDs
      ansible.builtin.shell:
         cmd: /var/lib/rancher/rke2/bin/kubectl apply -f https://github.com/cert-manager/cert-manager/releases/download/v1.19.1/cert-manager.crds.yaml
      environment:
        KUBECONFIG: "/etc/rancher/rke2/rke2.yaml"
        PATH: "/var/lib/rancher/rke2/bin:{{ ansible_env.PATH }}"
      when: inventory_hostname == groups['rke2'][0]

    - name: Install cert manager
      ansible.builtin.shell: >-
        helm install cert-manager jetstack/cert-manager --namespace cert-manager --set crds.enabled=false
      environment:
        KUBECONFIG: "/etc/rancher/rke2/rke2.yaml"
        PATH: "/var/lib/rancher/rke2/bin:{{ ansible_env.PATH }}"
      when: inventory_hostname == groups['rke2'][0]
